$color-black-bg: #202020;
$color-bg-grey: #F7F7F7;
$color-grey: #999999;
$color-white: #FFFFFF;
$color-grey_light: #F6F6F6;
$color-grey_shade: #666666;
$color-md_grey: #EAEAEA;
$color-pink_light: #F8EFFF;
$color-pink_violet: #EBD1FF;
$color-text-black: #333333;
$color-primary: #A65CF0;
$color-primary_light: #C998FB;
$color-primary_shade: #7033AC;
$color-secondary: #FF862F;
$color-secondary_light: #FFBD59;
$color-bone: #FFF5D1;;
$color-secondary_shade: #BB370E;
$color-green_input: #B8EC64;
$color-red_input: #FF6972;
$color-gold: #D5B986;

$grid-gap-row: 10px;
$grid-gap-col: 10px;

$gap-useful: 32px;
